/** Colors */
$color-1:               #f6bb1a;
$color-2:               #fff0d7;
$color-3:               #240dff;
$color-4:               #ef3c0c;
$color-5:               #e5e2e2;
$color-6:               #02a995;
$color-7:               #de2bdc;
$color-8:               #6d6d6d;
$color-9:               #fafafa;
$color-10:              #f6f9fb;
$color-11:              #999;
$color-12:              #223140;
$white: #FFFFFF;
$black: #000000;
$gray: #999999;
$gray-l: #AAAAAA;
$gray-xl: #CCCCCC;
$gray-xxl: #EDEDED;

$link:                  #f6bb1a;

$gradient-1: linear-gradient(0deg, #083577 50%, #007aff 100%);

/** Box Model  */
$spacer:                2rem;

$primary_font: "Montserrat", sans-serif;
$secondary_font: "Playfair Display", serif;